.ct-container {
  width: 100vw;
  display: flex;
  padding-top: 100px;
}
.ct-wrapper {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  justify-items: start;
}
.inpt-wrapper {
  position: relative;
  width: 100%;
}
.label {
  position: absolute;
  top: 35%;
  left: 10%;
  font-size: 20px;
}
.input {
  background-color: transparent;
  padding: 30px;
  border-radius: 5px;
  width: 90%;
  height: 70px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.ct-footer {
  display: flex;
  width: 100vw;
  justify-content: center;
}
.ct-footer-wrapper {
  display: flex;
  width: 90vw;
  justify-content: right;
  padding: 30px;
  gap: 20px;
}
.ct-btn-light {
  padding: 0 110px;
  height: 60px;
  border-radius: 50px;
  border: 1px solid black;
  background-color: rgb(246, 255, 255);
  font-size: 25px;
}
.dark-bg {
  background-color: grey;
}
.upLift1 {
  font-size: 16px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translateY(-40px);
  z-index: 1;
  padding: 5px;
  background-color: rgb(239, 166, 171);
}
.upLift2 {
  font-size: 16px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translateY(-40px);
  z-index: 1;
  padding: 5px;
  background-color: rgb(245, 197, 197);
}
