* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(
    180deg,
    hsla(224, 93%, 84%, 1) 0%,
    hsla(0, 80%, 80%, 1) 34%,
    hsla(180, 100%, 98%, 1) 100%
  );
  background-repeat: no-repeat;
  overflow-x: hidden;
}
.App {
  text-align: center;
}
